---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
AlignConsecutiveDeclarations: false
...
