<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Admin's new credentials!</title>
        <link rel="stylesheet" href="static/css/style.css" />
    </head>

    <body>
        <div class="jumbotron pt-4">
            <div class="container">
                <h1 class="text-center">The Admin's new credentials!</h1>
                <p class="text-center">Your admin password distributer v4.13.99</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <a>If you are an admin, get your password <a href="/admin/flag">here</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
